# List Function

In [ ]:
# lst = ["apple", "guava", "grapes"]

# List Add Function

In [5]:
lst.append("orange")

In [10]:
lst

['apple', 'guava', 'grapes', 'orange']

# Dictionary Function

In [8]:
dic = {"java" : "jupiter", "c": "c++"}

In [11]:
dic

{'students': 'class', 'school': 'colleges'}

# Set Function

In [12]:
st = {"23", "44", "44", "77"}

In [13]:
st

{'23', '44', '77'}

# Set Union Function

In [28]:
x= {"stone", "paper", "sissors"}

In [29]:
y= {"pen", "pencil", "paper"}

In [30]:
z= x&y

In [31]:
z

{'paper'}

# Set Add Function

In [32]:
st.add("numbers")

In [33]:
st

{'23', '44', '77', 'numbers'}

# Tuple Function

In [34]:
tup = ("red", "yellow", "blue")

In [37]:
tup

('red', 'yellow', 'blue')

In [42]:
tup.count("yellow")

1

# String Function

In [43]:
print("python")

python

# Slicing Function

In [44]:
a = ("super man")

In [45]:
print(a[3:6])

er

# String Length

In [46]:
a = ("sipder Man")

In [47]:
print(len(a))

10

# String in upper case

In [48]:
a = ("diary milk")

In [49]:
print(a.upper())

DIARY MILK

# Check String

In [50]:
txt = (" chocolate in diary milk ")

In [56]:
x = "milk " in txt

In [57]:
print(x)

True

# String Concatenation

In [59]:
a = "diary"

In [60]:
b = "milk"

In [61]:
c = a + b

In [62]:
print(c)

diarymilk

# String Format

In [67]:
year = 1996

In [68]:
txt = ("the movie name is{}")

In [72]:
print(txt.format(year))

the movie name is1996